DATABASE_URL=jdbc:mysql://localhost:3306/najdi_usluga?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DATABASE_USERNAME=root
DATABASE_PASSWORD=root
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
